

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #252424;
 
}



.header h2 {

  color:white;
}
.header h2:hover {

  color: #1ad1b9;
}